<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title>{{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col >
      <ion-card >
        <img src="../../assets/img-cities/{{image}}"> 
        <img src="../../assets/img-cities/{{image2}}">
        <img src="../../assets/img-cities/{{image3}}">
        <img src="../../assets/img-cities/{{image4}}">
        <img src="../../assets/img-cities/{{image5}}">
        
      </ion-card>
    </ion-col>
  </ion-row>
      <div class="desc">
        {{desc}}
      </div>
   

</ion-content>